<%= turbo_frame_tag dom_id(post) do %>
  <div class="card mb-3 tweet-card-max-width">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to post.user.username, user_path(post.user), data: { turbo_frame: "_top" } %>
      </h5>
      <p><%=time_display(post.created_at)%></p>
      <p class="card-text"><%= post.content %></p>
      <% if post.image.attached? %>
        <%= image_tag post.image, class: "img-fluid" %>
      <% elsif post.image_url.present? %>
        <%= image_tag post.image_url, class: "img-fluid" %>
      <% end %>
      <div class="d-flex justify-content-start align-items-center gap-1">
        <% if post.likes.pluck(:user_id).include?(current_user.id)%>
          <%= button_to "Un-Like", post_like_path(post_id:post.id, id: post.likes.find_by(user_id: current_user.id)), method: :delete, class: "btn btn-primary" %>
        <% else%>
          <%= button_to "Like", post_likes_path(post), method: :post, class: "btn btn-primary" %>
        <%end%>
        <span id="like-count"><%=link_to "#{post.likes.count} likes", post_likes_path(post), data: { turbo_frame: "_top" }%></span>
      </div>
    </div>
    <div class="card-footer">
      <% post.comments.each do |comment|%>
        <%= render comment%>
      <%end%>
      <span id="commment-count"><%= post.comments.count %> comments</span>
      <h5>Add a Comment</h5>
      <%= form_with(model: [post, post.comments.build], local: false) do |form| %>
        <div class="form-group">
          <%= form.text_area :content, placeholder: "Write your comment here...", class: "form-control" %>
        </div>
        <%= form.submit "Add Comment", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<%end%>