<!DOCTYPE html>
<html>
  <head>
    <title>OdinTwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= turbo_frame_tag "flash" do %>
        <%= render 'layouts/flash' %>
      <% end %>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
